@import "variables";

.btn,
.btn:active {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary,
btn-primary:hover {
  color: $white !important;
}

.btn-secondary,
btn-secondary:hover {
  color: $white !important;
}

.btn-success,
btn-success:hover {
  color: $white !important;
}

.button-group-left button {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.button-group-right button {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.btn-circle.btn-light {
  color: $gray-600;
}

.btn-circle.btn-ico {
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
  margin: 0 3px;
  padding: 3px 0;
  text-align: center;
  width: 30px;
}

.btn-circle.btn-sm {
  border-radius: 15px;
  font-size: 8px;
  height: 30px;
  padding: 6px 0px;
  text-align: center;
  width: 30px;
}

.btn-circle.btn-md {
  border-radius: 25px;
  font-size: 10px;
  height: 50px;
  padding: 7px 10px;
  text-align: center;
  width: 50px;
}

.btn-circle.btn-xl {
  border-radius: 35px;
  font-size: 12px;
  height: 70px;
  padding: 10px 16px;
  text-align: center;
  width: 70px;
}
