@import "variables";

:focus {
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.wrapper-block-page {
  background: $gray-100;
  border-radius: 5px;
  border-top: 4px solid $gray-600;
  box-shadow: 0 0 4px -2px $gray-800;
  min-height: 82vh;
  padding: 0;
}

img.avatar {
  border-radius: 50%;
}

/*
@media screen and (max-width: 720px) {
  .wrapper-block-page {
    padding: 0 0 20px 0;
    }
  }
*/
