@import "variables";

.form-wrapper {
  padding: 5px 10px !important;

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border-color: $gray-300;
    border-radius: 0;
    box-shadow: none !important;
  }

  .input-group-addon {
    background: none;
    border-bottom: 1px solid $gray-100;
    max-width: 42px;
    padding-left: 5px;
    text-align: center;
  }

  .form-control {
    border-width: 0 0 1px 0;
    box-shadow: none !important;
    min-height: 38px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
  }

  label {
    font-size: 13px;
    font-weight: normal;
  }
}

.form-box {
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 10px 0px 10px;
  position: relative;
  transition: background-color 0.2s ease;
  vertical-align: bottom;
  width: 100%;

  label {
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: 4px;
    width: 100%;
  }

  .form-control {
    border: 0;
  }
}

.validation-element {
  // border: 2px solid transparent;
}

.invalid-field {
  border: 1px solid $red;

  &::after {
    border-color: inherit;
  }

  &:focus {
    ~ .custom-file-label {
      box-shadow: 0 0 0 0.2rem rgba($red, 25%);
    }
  }
}
