<a routerLink="/weather/{{ cityDailyWeather?.city.name.toLowerCase() }}">{{
  cityDailyWeather?.city.name
}}</a>
<div class="row m-0" *ngIf="!dayParam">
  <div
    class="card col-md-2 pointer"
    *ngFor="let weather of weatherList"
    [routerLink]="
      '/weather/' +
      cityDailyWeather?.city.name.toLowerCase() +
      '/' +
      weather.dayName
    "
  >
    <div class="card-body">
      <div class="row m-0 text-center">
        <div class="col-md-12 p-0">
          <p class="card-text first-capital">{{ weather?.dayName || "-" }}</p>
        </div>
        <div class="col-md-12 p-0">
          <p class="card-text">
            <img src="{{ weather?.iconURL || '' }}" alt="icon" />
          </p>
        </div>
        <div class="col-md-12 p-0">
          <div class="tmp-wrap">
            <span class="tmp-max">{{ weather?.tempMax || "-" }}</span>
            <span class="tmp-min">{{ weather?.tempMin || "-" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-0" *ngIf="dayParam">
  <p>{{ dayParam }}</p>
  <div
    class="card col-md-2 pointer"
    *ngFor="let weather of specificDayWeatherList"
  >
    <div class="card-body">
      <div class="row m-0 text-center">
        <div class="col-md-12 p-0">
          <p class="card-text first-capital">{{ weather?.hour || "-" }}</p>
        </div>
        <div class="col-md-12 p-0">
          <p class="card-text">
            <img src="{{ weather?.iconURL || '-' }}" alt="icon" />
          </p>
        </div>
        <div class="col-md-12 p-0">
          <div class="tmp-wrap">
            <span class="tmp-max">{{ weather?.temp || "-" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
