.inline-list-item {
  list-style: none;
  text-align: center;
  }
.card{
  border: none
  }
.tmp-wrap {

  span{
    font-size: 0.9em;
    }
  span:first-of-type{
    color: #6c757d;
    margin-right: 6px;
    }
  span:first-of-type{
    color: #b4b7bb;
    }
  }
