@import "src/app/styles/variables";

.card {
  .inline-list-item {
    list-style: none;
    text-align: center;
  }

  .first-capital::first-letter {
    text-transform: capitalize;
  }

  .form-check-block {
    background: $surface-b;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $gray-200;
    display: flex;
    height: 50px;
    margin: 7px -16px -16px -16px;
    padding: 10px;
  }
}
