.inline-list-item {
  list-style: none;
  text-align: center;
}

.first-capital::first-letter {
  text-transform: capitalize;
}

.p-checkbox-label {
  position: relative;
  top: -4px;
}

.form-check-block {
  border-top: 1px solid #929292;
  margin-top: 10px;
  padding-top: 10px;
}
