:host {
  display: flex;
  height: 100vh;
  overflow: hidden;

  main {
    position: relative;
  }

  ::ng-deep router-outlet ~ * {
    height: 100%;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
