@import "src/app/styles/variables";

.btn {
  min-width: 140px;

  &:active {
    min-width: 140px;
  }
}

.fa {
  font-size: 21px;
  position: relative;
  top: 8px;
}
.input-ico {
  i {
    position: absolute;
    z-index: 4;
    left: 8px;
    top: 8px;
  }
  input {
    padding-left: 40px;
  }
}
input.ng-invalid {
  background-color: lighten($danger, 25);
}
