@import "../../styles/pre-import";

.top-nav {
  background-color: $gray-800;
  overflow: hidden;

  .container {
    padding: 0 !important;

    .logo-block {
      display: block;
      float: left;
      height: 40px;
      margin: 4px;
      padding-left: 10px;

      img {
        height: 45px;
      }
    }

    a {
      color: $white;
      display: block;
      float: left;
      font-size: 17px;
      padding: 14px 16px;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: $primary-color;
        color: $black;
      }

      &:active {
        background-color: $secondary-color;
        color: $primary-color-text;
      }
    }
  }
}
