<div class="topnav" id="topnav">
    <div class="container">
        <div class="logo-block-standard logo-block"><img src="assets/images/full-logo.png"></div>
      <!--  <a routerLink="/adresar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contacts</a>
        <a routerLink="/adresar/omiljeni" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Favorites</a>
        <a class="icon" (click)="clickMenu()">
            <i class="fa fa-bars"></i>
        </a>-->
        <div class="logo-block-small logo-block"><img src="assets/images/logo.png"></div>
    </div>
</div>
